<% if current_user.admin? %>

<div class="row">
	<div class="small-12 columns">
	<h1>Maintenance request made on <%= @issue.created_at.to_formatted_s(:long) %> by <%= @issue.user.email %></h1>
	</div>
</div>
<br/>
<div class="row">
		<div class="small-4 columns">
		<h3>Issue Description</h3>
		</div>
		<div class="small-4 columns">
		<h3>Issue Location</h3>
		</div>
		<div class="small-4 columns">
		<h3>Tenant Notes</h3>
		</div>
	</div>
<div class="row">
	<div class="small-4 columns">
	<%= @issue.description %>
	</div>
	<div class="small-4 columns">
	<%= @issue.location %>
	</div>
	<div class="small-4 columns">
	<%= @issue.tenant_notes %>
	</div>
</div>

<br />
<% if @issue.contractor_id.blank? %>
	<div class="row">
		<div class="small-6 columns">
		<%= form_for(@issue) do |f| %>
	 		<%= f.label :contractor, "Assign this maintenance request to:" %>
	    <%=collection_select(:issue, :contractor_id, Contractor.all, :id, :full_name, prompt: true)%>
	  </div>
	  <div class="small-6 columns">
	  <br />
	    <%= f.submit "Assign Contractor", class: "button small" %>
	  <% end %>
	  </div>
	</div>
	<% else %>
	<div class="row">
		<div class="small-5 columns">
			Request is currently assigned to:
			<br/>
			<br/>
			<%= @issue.contractor.full_name %>
		</div>
		<div class="small-4 columns">
		<%= form_for(@issue) do |f| %>
	 		<%= f.label :contractor, "Re-assign this maintenance request to:" %>
	    <%=collection_select(:issue, :contractor_id, Contractor.all, :id, :full_name, prompt: true)%>
	  </div>
	  <div class="small-3 columns">
	  <br />
	    <%= f.submit "Re-assign Contractor", class: "button tiny" %>
	  <% end %>
	  </div>
	</div>
<% end %>

<div class="row">
	<div class="small-12 columns">
	<% if @issue.admin_notes.blank? %>
		<%= form_for(@issue) do |f| %>
			<%= f.label :admin_notes, "add some notes" %>
	  	<%= f.text_field :admin_notes %>
	  	<%= f.submit "Add Notes", class: "button tiny" %>
		<% end %>
	<% else %>
		<%= @issue.admin_notes %>
		<%= form_for(@issue) do |f| %>
			<%= f.label :admin_notes %>
	  	<%= f.text_field :admin_notes %>
	  	<%= f.submit "Add Notes", class: "button tiny" %>
		<% end %>
	<% end %>
	</div>
</div>


<div class="row">
	<div class="small-12 columns">
		<h3>Request Status</h3>

<% if @issue.status.nil? %>
<div><%= "Request submitted" %></div>
<br />
<%= form_for(@issue) do |f| %>
	<div><%= f.radio_button(:status, "Request received") %>
		<%= f.label(:status, "Request received")  %></div>
	<div><%= f.radio_button(:status, "Maintenance in progress")  %>
		<%= f.label(:status, "Maintenance in progress") %></div>
	<div><%= f.radio_button(:status, "Completed") %>
		<%= f.label(:status, "Completed") %></div>
	<div><%= f.submit "Update Status", class: "button tiny" %></div>
	<% end %>
<% else %>
	<%= form_for(@issue) do |f| %>
		<div><%= f.radio_button(:status, "Request received") %>
			<%= f.label(:status, "Request received")  %></div>
		<div><%= f.radio_button(:status, "Maintenance in progress")  %>
			<%= f.label(:status, "Maintenance in progress") %></div>
		<div><%= f.radio_button(:status, "Completed") %>
			<%= f.label(:status, "Completed") %></div>
		<div><%= f.submit "Update Status", class: "button small" %></div>
	<% end %>
	</div>
</div>
<% end %>


<div class="row">
	<div class="small-12 columns">
	<%= form_for(@issue) do |f| %>
		<%= f.label :cost, "How much did it cost to resolve the request?" %>
	  <%= f.number_field :cost %>
		<br />
	  <%= f.submit "Update Cost", class: "button small" %>
	<% end %>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<%= link_to "Text " + "#{@issue.id}" , issue_path, class: "button small" %>
	</div>
</div>
<% else %>
	<div class="row">
		  <div class="small-12 columns">
		  	<h1>Confirmation # <%= @issue.id %></h1>
		  </div>
	</div>
	<div class="row">
		  <div class="small-12 columns">
		  <h3>Your request has been submitted successfully.</h3>
			<p>Thank you for alerting us to your issue. We will contact you soon with a plan to get your maintenance problem solved.</p>
		</div>
	</div>
	<div class="row">
		<%= link_to "Check Status of Pending Issues", issues_path, class: "button" %>
		<%= link_to "Make Another Maintenance Request", new_issue_path, class: "button" %>
		<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button" %>
	</div>
<% end %>
